<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
      <add name="SQLConnection" connectionString="Data Source=40.117.32.109;Initial Catalog=dbIntegraPruebas;Persist Security Info=True;User ID=sa;Password=IntegraSoftware.1" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <appSettings>
      <add key="WebApiBaseUri" value="urlbaseapi"/>
      <add key="WebApiConnUserName" value="username"/>
      <add key="WebApiConnPassword" value="password"/>
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>